.box {
  position: relative;
  overflow: hidden;
  margin: 32px auto 0 auto;
  min-width: 270px;
  max-width: 270px;
  min-height: 580px;
  max-height: 580px;
  border: solid 8px #000;
  border-bottom: solid 22px #000;
  border-top: solid 13px #000;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-image: url("../Img/background.jpeg");
  background-image: url("https://images.unsplash.com/photo-1601014772354-a58b53f97e44?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
  background-size: 400px;
  background-position-x: -70px;
  background-position-y: -15px;
  color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.box .cam {
  background-color: #000;
  width: 30px;
  height: 30px;
  margin: -27.5px auto 0 auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.box .center-cam {
  background-color: #fff;
  margin: -16px auto 0 auto;
  width: 5px;
  height: 5px;
  opacity: 70%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.box .status-bar {
  background-color: #000;
  opacity: 10%;
  margin-top: 0px;
  width: 100%;
  height: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.batery {
  top: 2px;
  right: 16px;
}
.wifi {
  top: 3px;
  right: 40px;
}
.rede-icon{
  top: 3px;
  right: 60px;
}
.box .rede,
.time,
.date,
.line,
.city,
.batery,
.wifi, .rede-icon {
  position: absolute;
}
.box .rede {
  top: 4px;
  margin: 0px auto 0 11px;
  font-size: 10px;
  font-weight: 700;
}
.box .time {
  bottom: 60px;
  margin: 0px auto 0 10px;
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 0.3px;
}
.box .date {
  bottom: 55px;
  margin: 0px auto 0 12px;
  font-size: 9.5px;
  font-weight: 300;
  letter-spacing: 0.6px;
}
.box .line {
  background-color: #fff;
  bottom: 50px;
  margin: 0px auto 0 12px;
  width: 110px;
  height: 0.1px;
  opacity: 50%;
}
.box .city {
  bottom: 110px;
  margin: 0 auto 0 12px;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.6px;
}
